.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.categories-cards .cards {
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  color: var(--text-primary-color);
}
