.categories {
  margin-bottom: 88px;
}

.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.categories-cards a.card {
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  color: var(--text-primary-color);
}

.categories-cards h3 {
  font-weight: var(--title-weight);
  font-size: 28px;
  text-align: center;
}

.categories-cards .card.single-line {
  padding-top: 50px;
}

.categories-cards .card.single-line.transfer img {
  margin: 10px 0 20px;
}

/* Para tablet */
@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 366px;
    height: 59px;
    margin: 0 auto;
  }

  .categories-cards {
    flex-direction: row; /* coloca os itens em linha */
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Para desktop */
@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 288px;
  }
}

/* Para monitores 4k */
@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 288px;
  }
}
