header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px; /* 38px em cima e embaixo e 48px nas laterais */
}

.logo {
  width: 68px;
  height: 64px;
  display: inline-block;
  /* margin: 37px 0 0 48px; 37px em cima e embaixo; 0 na direita, 0 embaixo; 48px na esquerda */
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav {
  display: none; /*esconde o texto */
}
