header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px; /* 38px em cima e embaixo e 48px nas laterais */
  position: relative;
}

.logo {
  width: 68px;
  height: 64px;
  display: inline-block;
  /* margin: 37px 0 0 48px; 37px em cima e embaixo; 0 na direita, 0 embaixo; 48px na esquerda */
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none; /*esconde o texto */
}

.list-links {
  list-style-type: none;
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  /* a ordem aqui fica: entrar na classe list-links, depois entra na li e depois acessa os links que estão com a tag a */
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

/* CONFIGURANDO O USO PARA TABLETS */
@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }

  .navigation-menu label {
    display: none; /* não precisamos mais do label  pq agora não precisa abrir o menu, ele já ficará aberto direto*/
  }

  .navigation-menu nav {
    display: block;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .navigation-menu ul li {
    margin: 0;
  }
}
