.hero-img {
  height: 400px;
  width: 100%;
  background-image: url(../img/hero-mobile.jpg); /* coloca a img como background para ajustar melhor a tela */
  background-repeat: no-repeat;
  background-size: cover;

  /* para economizar na escrita das propriedades acima, poderíamos escrever: 
    background: url(../img/hero-mobile.jpg) no-repeat;
    background-size: cover;
  */
}

.hero h2 {
  padding: 88px 24px; /*88px é o padding para cima e para baixo e 60px é o padding das laterais */
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

/* CONFIGURANDO A IMAGEM DE BG PARA TABLET  */
@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background-image: url(../img/hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px; /*88px é o padding para cima e para baixo e 60px é o padding das laterais */
    font-size: 32px;
  }
}

/* CONFIGURANDO A IMAGEM DE BG PARA DESKTOP */
@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background-image: url(../img/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
