.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px; /*distância entre os cards */
}

.offers-cards .card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px; /* sequência: em cima e embaixo e laterais */
  border-radius: 16px;
  text-align: center;
  margin: 24px auto;
}
.offers-cards .card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.offers-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers-cards .card header h3 {
  font-weight: var(--title-weight);
  font-size: 40px;
  margin: 8px 0 0;
}

.offers-cards .card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.card.japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover;
}

.card.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}

.card.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}

.card.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}

.offers {
  margin-bottom: 104px;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* quando atingir o limite da página, jogar os elementos para a linha debaixo. assim, ficam dois cards em cada linha */
    justify-content: center; /*usado quando já estamos com o wrap para centralizar os itens */
  }
}

@media screen and (min-width: 1024px) {
  .offers-cards .card {
    width: 420px;
    height: 308px;
  }
  .offers-cards .card header h3 {
    font-size: 48px;
  }

  .offers-cards .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards .card {
    width: 588px;
    height: 308px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-card {
    width: 1250px;
    margin: 0 auto;
  }
}
