/* CSS MEDIA QUERIES são condições que aplicam CSS's diferentes em mídias diferentes. Então, é uma forma da gente falar para o navegador que a partir de determinada condição o estilo vai mudar.
Sintaxe básica:
@media screen and (max-width: 768px) {
body{
background: lightblue;
}
}
onde:
@ -> indica um AT-RULE (ou seja, a partir do @ vai ter alguma regra)
MEDIA -> significa que a regra vai depender de características da mídia
SCREEN -> tipo de mídia (telas)
AND -> operador lógico, combinando condições
(MÁX-WIDTH: 768px) -> é a condição (se a tela tiver até 768px de largura)
{...} -> aqui ficam os estilos que só serão aplicados nessa condição 

<<<<<<< HEAD
BREAKPOINTS -> são pontos de corte para aplicar estilos 

As medidas abaixo não são regras, mas são os mais comuns:

320px -> celulares pequenos
768px -> tablets
1024px -> laptops
1440 -> desktops grandes

através do google serach console podemos ver qual tela os usuários mais acessam o site

*/

=======
>>>>>>> cca3de70b1cf1924bc2731f4ed4744510b9dc339
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap; /* configuração que fazemos para que caso o arquivo da fonte não carregue, ele vai carregar a fonte de sistema mais próxima e, ao fim do download, ele carrega a fonte de do sistema original que estamos utilizando */
}

:root {
  /* root são propriedades customizadas de css 
    não são propriedades genéricas, elas receberam um nome */
  --primary-color: #8f0101;
  --secondary-color: #b81515;
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  /* fazendo desta forma, não precisamos fazer alteração em todos os elementos quando necessário fazer alterações e facilita pq só precisaremos fazer alterações em somente um lugar */

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat";
  font-weight: var(--title-weight);
  color: var(--primary-color);
}
